@charset "UTF-8";

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.dark-mode {
    --primary-color: #000;
    --secondary-color: #fff;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

footer > a {
    text-decoration: none;
}

main {
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    transition: background 0.3s linear
}

.footer-container {
    max-width: 1920px;
    padding: 30px 40px;
    margin: auto;

}

.conteudo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.profile .area-logo{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profile .area-logo img {
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}


.area-logo .logo-footer {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: var(--secondary-color);
}

.area-logo button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
}

.area-logo .sol {
    color: #fff;
    font-size: 22px;
}


.description {
    max-width: 800px; 
    margin-bottom: 1.25rem;
    
}

.description p{
    color: #828282;
    font-weight:400 ;
    line-height: 28px;


}

.social-footer a {
    color: #828282;
    margin-right: 23px;
    font-size: 24px;
}

.social-footer a:hover {
    color: #313131;
}

.servicos-content {
    display: flex;
}

.servicos-footer {
    margin-right: 40px;
}

li.servicos-nome {
    color: var(--secondary-color);
    font-weight: 600;
}

.servicos-footer li a {
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;
}

.servicos-footer li a:hover {
    color: #313131;
}

.servicos-footer li {
    margin-bottom: 10px;
    color: #828282;
}





footer hr {
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}

 .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
} 

.copy-right {
    display: flex;
    color: #828282;
    align-items: center;
} 

.copy-right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;

}

.tou a {
    color: #828282;
    margin-left: 1.5rem;
}

.tou a:hover {
    color: #313131;
}



 @media screen and (max-width: 768px) {

.conteudo-footer {
    flex-wrap: wrap;
    justify-content: left;
}

.servicos-content {
    flex-wrap: wrap;
    justify-content: left;
}
.servicos-footer {
    margin-left: 0;
    margin-right: 40px;
}

.social-footer {
    margin-bottom: 1rem;
}

.footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
}
    
}

@media screen and (max-width: 510px) {
    .service-footer {
        margin-bottom: 8px;
    }

    .copy-right {
        margin-bottom: 8px;
    }
    
}

