@charset "UTF-8";

.box-model {
    width: 100%;
    display: flex;
    background-color: rgba(190, 190, 190, 0.356);
    position: fixed;
}

.box-content {
    width: 300px;
    height: 600px;
    background-color: red;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    display: none;

}

.box-content p {
    text-align: justify;
    margin: 10px 15px;
}

.box-content h2 {
    text-align: center;
}

.close-box {
    background: url(../icons/close.png);
    background-position: center;
    background-size: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: auto;

}