@charset "UFT-8";


.work > h1 {
    text-align: center;
    padding-bottom: 30px;
    color: #1CA666;
    font-size: 2em;
}

.work-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(224, 224, 224);
    min-height: 80vh;
    z-index: 2;
}

.work-text {
    background-color: #F2B138;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-text > h1 {
    color: #fff;
    font-size: 2em;
}

.work-container {
    padding-top: 10px;
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.work-container .work-card {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work-container .work-card .work-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1CA666;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.work-container .work-card:hover .work-img {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
}

/* .work-container .work-card .work-img::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    text-align: center;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.562);
    font-weight: 700;
} */


.work-container .work-card .work-img img {
    max-width: 550px;
    transition: 0.5s ease-in-out;
    opacity: 80%;

}


.work-container .work-card .work-img img:hover {
    opacity: 100%;
}


.work-container .work-card:hover .work-img img {
    max-width: 350px;
}

.work-container .work-card .work-content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-container .work-card .work-content h3 {
    margin-bottom: 5px;
    font-size: 24px;

}

.work-container .work-card .work-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

#four {
    background-image: url(../imagens/03427e9b-7164-4a08-b1e9-db70b879ea6e.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


@media (max-width: 992px) {
.work-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.work-container .work-card {
    width: 400px;
}
}

@media (max-width: 768px) {
.work-container .work-card {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
.work-container .work-card .work-img {
    position: relative;

}
.work-container .work-card .work-img, 
.work-container .work-card:hover .work-img {
    width: 100%;
    height: 200px;
    left: 0;
}
.work-container .work-card .work-img img,
.work-container .work-card:hover .work-img img{
    max-width: 450px;
}

.work-container .work-card .work-content {
    position: relative;
    width: 100%;
}
}